:root {
  --dark-gray-blue: #494c5f;
  --gray-blue: #6d708d;
  --light-gray-blue: #b3b5c6;
  --very-light-grayish-blue: #f6f6fe;
  --main-color: #696fdd;
  --secondary-color: #a3a8f0;
  --gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
  --purple: hsl(237, 63%, 64%);
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --white: white;
  --body-font: "Montserrat", sans-serif;
  --transition: all ease-in-out 0.3s;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url(https://res.cloudinary.com/dxayftnxb/image/upload/v1578365136/bg-top_hkofqi.svg),
    url(https://res.cloudinary.com/dxayftnxb/image/upload/v1578365114/bg-bottom_ojkfqc.svg);
    background-repeat: no-repeat;
    background-position: right top, left bottom;
}

